<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user -->
<mapper namespace="com.weidoubaobao.duying.dao.UserMapper">
   <select id="queryAll" resultType="com.weidoubaobao.duying.entity.User">
       select *  from user
   </select>

    <!-- 插入数据 -->

    <insert id="insertUser" parameterType="com.weidoubaobao.duying.entity.User">
        INSERT INTO user (id, username, password, realname, phone) VALUES (#{id},#{username},#{password},#{realname},#{phone})
    </insert>
</mapper>