<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/test" method="post">
        id: <input type="text" name="id"/><br/>
        username: <input type="text" name="username"/><br/>
        realname:<input type="text" name="realname"/><br/>
        password:<input type="text" name="password"/><br/>
        phone:<input type="text" name="phone"/><br/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>